<% if geinins.present? %>
    <% geinins.each do |geinin| %>
      <div class="geinin-card">
        <div class="geinin-card-content">
          <div class="geinin-card-header">
            <div class="geinin-name"> 
              <%= link_to geinin.name, "geinins/#{geinin.id}", :class=>"geinin-name" %>
            </div>
            <div class="geinin-card-sns">
              <%= render "geinins/geinin_sns", geinin: geinin %>
            </div>
            <div class="following-box" id="following-button-<%= geinin.id %>">
              <%= render "followings/following", geinin: geinin %>	
            </div>
          </div>
          <div class="geinin-card-descriptions">
            <% if geinin.start_year.present? %>
              <span class="fas fa-birthday-cake icon"></span><%= geinin.start_year %>年結成<br>
            <% end %>
            <% if geinin.agency.present? %>
              <span class="fas fa-map-marker-alt icon"></span><%= geinin.agency %>
            <% end %>
          </div>
        </div>
        <div class="geinin-card-options">
          <div class="geinin-card-option">
            <%= link_to search_path(:performer => geinin.name) do %> 
              <span class="fas fa-calendar-alt"></span>                 
              <span class="geinin-card-option-text">ライブ登録数</span>
              <span class="profile-value"><%= Event.default.where(event_performers: { performer: "#{geinin.name}"} ).count %></span>
            <% end %>
          </div>
          <div class="geinin-card-option">
            <%= link_to edit_geinin_path(geinin.id) do %>
              <i class="fas fa-users"></i>
              <span class="geinin-card-option-text">フォロワー</span>
              <span class="profile-value"><%= Following.where(geinin_id: geinin.id).count %></span>
            <% end %>
          </div>
          <div class="geinin-card-option">
            <%= link_to edit_geinin_path(geinin.id) do %>
              <i class="fas fa-edit"></i>
              <span class="geinin-card-option-text">編集する</span>
            <% end %>
          </div>
        </div>
      </div>
    <% end %> 
  <% else %>
    <div class="posts">
      <div class="post">
        <div class="post-wrapper">
          <div class="post-content typography">
            <p>まだ誰もフォローしていません。</p>
          </div>
        </div>
      </div>
    </div>
  <% end %>