<section class="main">
  <div class="page-info hard-shadows">
    <p>フォロー一覧</p>
  </div>
  <% if @geinins.present? %>
    <% @geinins.each do |geinin| %>
      <div class="geinin-card">
        <div class="geinin-card-content">
          <div class="geinin-card-header">
            <div class="geinin-card-image">
              <img src="">
            </div>
            <div class="geinin-card-name"> 
              <%= link_to geinin.name, "geinins/#{geinin.id}", :class=>"geinin-card-name" %>
            </div>
            <div class="geinin-card-sns">
              <%= render :partial => "geinins/geinin_sns", locals: { geinin: geinin } %>
            </div>
            <div class="following-box" id="following-button-<%= geinin.id %>">
              <%= render :partial => "followings/following", locals: { geinin: geinin} %>	
            </div>
          </div>
          <div class="geinin-card-descriptions">
            <span class="fas fa-birthday-cake icon"></span><%= geinin.start_year %>年結成<br>
            <span class="fas fa-map-marker-alt icon"></span><%= geinin.agency %>
          </div>
        </div>
        <div class="geinin-card-options">
          <div class="geinin-card-option">
            <%= link_to edit_geinin_path(geinin.id) do %>
              <i class="fas fa-edit"></i>
              <span class="geinin-card-option-text">編集する</span>
            <% end %>
          </div>
          <div class="geinin-card-option">
            <%= link_to edit_geinin_path(geinin.id) do %>
              <i class="fas fa-share-alt"></i>
              <span class="geinin-card-option-text">
              シェアする</span>
            <% end %>
          </div>
          <div class="geinin-card-option">
            <%= link_to edit_geinin_path(geinin.id) do %>
              <i class="fas fa-users"></i>
              <span class="geinin-card-option-text">
              <%= Following.where(geinin_id: geinin.id).count %> フォロワー</span>
            <% end %>
          </div>
        </div>
      </div>
    <% end %> 
  <% else %>
      <p>まだ誰もフォローしていません。</p>
  <% end %>
</section>