<% if geinin.twitter_id.present? %>
  <%= link_to "https://twitter.com/#{geinin.twitter_id}" do %>
    <span class="fab fa-twitter-square twitter"></span>
  <% end %>
<% end %>
<% if geinin.instagram_id.present? %>
  <%= link_to "https://twitter.com/#{geinin.instagram_id}" do %>
    <span class="fab fa-instagram instagram"></span>
  <% end %>
<% end %>
<% if geinin.youtube_url.present? %>
  <%= link_to geinin.youtube_url do %>
    <span class="fab fa-youtube youtube"></span>
  <% end %>
<% end %>
<% if geinin.facebook_url.present? %>
  <%= link_to "https://www.facebook.com/#{geinin.facebook_url}" do %>
    <span class="fab fa-facebook-square facebook"></span>
  <% end %>
<% end %>
<% if geinin.blog_url.present? %>
  <%= link_to geinin.blog_url do %>
    <span class="fab fa-blogger"></span>
  <% end %>
<% end %>