<div class="post hard-shadows">
  <div class="post-wrapper">
    <div class="profile-header">
      <div class="profile-image-box">
        <img src="<%= user.image_url %>" class="profile-image">
      </div>
      <div class="profile-name">
        <span class="geinin-title"><%= geinin.name %></span>
        <span class="geinin-yomi"><%= geinin.yomi %></span>
      </div>
      <div class="following-box" id="following-button-<%= geinin.id %>">
        <%= render :partial => "followings/following", locals: { geinin: geinin } %>	
      </div>
    </div>
    <div class="post-content typography">
      <% if geinin.start_year.present? %>
        <p><span class="fas fa-birthday-cake icon"></span><%= geinin.start_year %>年結成</p>
      <% end %>
      <% if geinin.end_date.present? %>
        <p><span class="fas fa-ban"></span><%= geinin.end_date %></p>
      <% end %>
      <% if geinin.agency.present? %>
        <p><span class="fas fa-map-marker-alt icon"></span><%= geinin.agency %></p>
      <% end %>
      <% if geinin.official_profile_url.present? %>
        <p><span class="fas fa-link icon"></span><%= link_to geinin.official_profile_url, geinin.official_profile_url %></p>
      <% end %>
      <% if geinin.twitter_id.present? %>
        <p><span class="fab fa-twitter-square icon"></span>@<%= link_to geinin.twitter_id,"https://twitter.com/#{geinin.twitter_id}" %></p>
      <% end %>
      <% if geinin.youtube_url.present? %>
        <p><span class="fab fa-youtube icon"></span><%= link_to geinin.youtube_url,geinin.youtube_url %></p>
      <% end %>
    </div>
    <div class="post-tag">
      <% geinin.geinin_tags.each do |tag| %>
        <%= link_to search_path(tag: tag.tag) do %>
          <span><i class="fas fa-tag icon-tag"></i><%= tag.tag %></span>
        <% end %>
      <% end %>
      </a>
    </div>
    <div class="profile-nav">
      <ul class="profile-nav-list">
        <li class="profile-nav-item">
          <%= link_to following_path do %>
            <span class="profile-nav-label">ライブ登録数</span>
            <span class="profile-value"><%= Event.default.where(event_performers: { performer: "#{geinin.name}"} ).count %></span>
          <% end %>
        </li>
        <li class="profile-nav-item">
          <%= link_to following_path do %>
            <span class="profile-nav-label">フォロワー</span>
            <span class="profile-value"><%= Following.where(geinin_id: current_user.id).count %></span>
          <% end %>
        </li>
        <li class="profile-nav-item">
          <%= link_to edit_geinin_path(geinin.id) do %>
            <span class="profile-nav-label">編集する</span>
            <span class="profile-value"><i class="fas fa-edit"></i></span>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</div>