<%= f.fields_for :geinin_member do |member_form| %>
  <div class="form-item">
    <div class="form-icon">
      <i class="fas fa-address-book"></i>
    </div>
    <div class="form">
      <%= member_form.text_field :family_name,:placeholder => "姓*",:class => "event-edit-form form-short"  %>
      <%= member_form.text_field :first_name,:placeholder => "名*",:class => "event-edit-form form-short"  %>     </div>
    </div>
  </div>
  <div class="form-item">
    <div class="form-icon">
      <i class="fas fa-address-card"></i>
    </div>
    <div class="form">
      <%= member_form.text_field :family_name_yomi,:placeholder => "ふりがな(姓)*",:class => "event-edit-form form-short"  %>
      <%= member_form.text_field :first_name_yomi,:placeholder => "ふりがな(名)*",:class => "event-edit-form form-short"  %>     </div>
    </div>
  </div>
  <div class="form-item">
      <div class="form-icon">
      <i class="fab fa-twitter-square"></i>
      </div>
      <div class="form">
      <%= member_form.text_field :twitter_id,:placeholder => "Twitter ID",:class => "event-edit-form form-long"  %>
      </div>
  </div>
  <div class="form-item">
      <div class="form-icon">
      <i class="fab fa-instagram"></i>
      </div>
      <div class="form">
      <%= member_form.text_field :instagram_id,:placeholder => "Insgram ID",:class => "event-edit-form form-long"  %>
      </div>
  </div>
  <div class="form-item">
      <div class="form-icon">
      <i class="fas fa-pen-nib"></i>
      </div>
      <div class="form">
      <%= member_form.text_field :blog_url,:placeholder => "ブログ URL",:class => "event-edit-form form-long"  %><br>
      </div>
  </div>
<% end %>
<div class="form-item">
  <div class="form-icon">
    <i class="fas fa-tags"></i>
  </div>
  <div class="form">
    <%= f.fields_for :geinin_members_tags do |member_tags_form| %>
      <%= member_tags_form.text_area :tag,:placeholder => "タグ",:class => "event-edit-form form-long"  %>
    <% end %>
  </div>
</div>