<div class="search-form-container">
  <div class="search-form-inner">
    <div class="search-geinin-index">
      <div class="search-label">
        <h2 class="search-label-name"><i class="fas fa-search icon"></i>キーワードで探す</h2>
        <p class="label-border"></p>
      </div>
      <div class="search-form-area">
        <%= form_tag(search_geinins_path, method: "get") do %>
          <%= text_field_tag :keyword,"",:class => "search-form",:placeholder =>"キーワード(例:バナナマン、M-1グランプリ)" %>
        <% end %>
      </div>
      <div class="geinin-tags post-performer">
        <div class="geinin-tags-title">
          <span class="fas fa-chart-line icon"></span>芸人タグ
        </div>
        <% @geinin_tags.each do |tag| %>
        <ul>
          <li><%= link_to tag.tag, search_geinins_path(:tag => tag.tag), :class => "post-performer float-left" %></li>
        </ul>
        <% end %>
      </div>
      <div class="search-categories">
        <div class="search-label">
          <h2 class="search-label-name"><span class="fas fa-search icon"></span>あいうえおで探す</h2>
          <p class="label-border"></p>
        </div>  
        <div class="search-button-box">
          <%= link_to search_geinins_path(index: 'a'), :class => "btn categories pink" do %>
            <span>あ行</span>
          <% end %>
          <%= link_to search_geinins_path(index: 'ka'), :class => "btn categories pink" do %>
            <span>か行</span>
          <% end %>
          <%= link_to search_geinins_path(index: 'sa'), :class => "btn categories pink" do %>
            <span>さ行</span>
          <% end %>
          <%= link_to search_geinins_path(index: 'ta'), :class => "btn categories pink" do %>
            <span>た行</span>
          <% end %>
          <%= link_to search_geinins_path(index: 'na'), :class => "btn categories pink" do %>
            <span>な行</span>
          <% end %>
          <%= link_to search_geinins_path(index: 'ha'), :class => "btn categories pink" do %>
            <span>は行</span>
          <% end %>
          <%= link_to search_geinins_path(index: 'ma'), :class => "btn categories pink" do %>
            <span>ま行</span>
          <% end %>
          <%= link_to search_geinins_path(index: 'ya'), :class => "btn categories pink" do %>
            <span>や行</span>
          <% end %>
          <%= link_to search_geinins_path(index: 'ra'), :class => "btn categories pink" do %>
            <span>ら行</span>
          <% end %>
          <%= link_to search_geinins_path(index: 'wa'), :class => "btn categories pink" do %>
            <span>わ行</span>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>