<section class="main">
  <div class="page-info hard-shadows">
    <p>芸人一覧</p>
  </div>
  <%= render "geinins/search_form", geinins: @geinins, geinin_tags: @geinin_tags %>
	<div class="geinin-btns">
		<%= link_to new_geinin_path,:class =>"btn green geinin-btn" do %>
			<i class="fa fa-plus-circle"></i>
			<span class="user-menu-button-text">芸人を登録する</span>
		<% end %>
		<%= link_to survey_path,:class =>"btn pink geinin-btn-2" do %>
			<i class="fas fa-file-alt"></i>
			<span class="user-menu-button-text">アンケート結果</span>
		<% end %>
	</div>
  <div class="indexes">	
		<input id="index-tab-0" type="radio" name="index_item" checked>
		<label class="index_item" for="index-tab-0"><%= @a %></label>

    <input id="index-tab-1" type="radio" name="index_item">
    <label class="index_item" for="index-tab-1"><%= @i %></label>
  
    <input id="index-tab-2" type="radio" name="index_item">
    <label class="index_item" for="index-tab-2"><%= @u %></label>

    <input id="index-tab-3" type="radio" name="index_item">
    <label class="index_item" for="index-tab-3"><%= @e %></label>

    <input id="index-tab-4" type="radio" name="index_item">
    <label class="index_item" for="index-tab-4"><%= @o %></label>
  </div>
	<% if @geinins_list.present? %>
		<% @geinins_list.each_with_index do |geinins,i| %>
			<div class="index-content" id="index-tab-<%= "#{i}" %>-content">
				<%= render "geinins/geinins_list", geinins: geinins %>
			</div>
		<% end %>
	<% else %>
			<%= render "geinins/no_result" %>
	<% end %>
</section>
