<section class="main">
  <div class="page-info hard-shadows">
    <p>芸人一覧</p>
  </div>
  <%= render :partial => "geinins/search_form",locales: { geinins: @geinins, geinin_tags: @geinin_tags } %>
	<div class="geinin-btns">
		<%= link_to new_geinin_path,:class =>"btn green geinin-btn" do %>
			<i class="fa fa-plus-circle"></i>
			<span class="user-menu-button-text">芸人を登録する</span>
		<% end %>
		<%= link_to survey_path,:class =>"btn pink geinin-btn-2" do %>
			<i class="fas fa-file-alt"></i>
			<span class="user-menu-button-text">アンケート結果</span>
		<% end %>
	</div>
  <div class="indexes">	
		<input id="index-tab-0" type="radio" name="index_item" checked>
		<label class="index_item" for="index-tab-0"><%= @indexes[0][0] %></label>

    <input id="index-tab-1" type="radio" name="index_item">
    <label class="index_item" for="index-tab-1"><%= @indexes[1][0] %></label>
  
    <input id="index-tab-2" type="radio" name="index_item">
    <label class="index_item" for="index-tab-2"><%= @indexes[2][0] %></label>

    <input id="index-tab-3" type="radio" name="index_item">
    <label class="index_item" for="index-tab-3"><%= @indexes[3][0] %></label>

    <input id="index-tab-4" type="radio" name="index_item">
    <label class="index_item" for="index-tab-4"><%= @indexes[4][0] %></label>
  </div>
	<% if @geinins_list.present? %>
	  <% i = 0 %>
		<% @geinins_list.each do |geinins| %>
			<div class="index-content" id="index-tab-<%= "#{i}" %>-content">
				<%= render :partial=>"geinins/geinins_list", locals: { geinins: geinins} %>
			</div>
			<% i = i+1 %>
		<% end %>
	<% else %>
			<%= render :partial=>"geinins/no_result" %>
	<% end %>
</section>
