<% if user_signed_in? %>
  <% if event.pending_by?(event,current_user) %>
    <%= link_to event_pendings_path(event), method: :delete, remote: true, :protocol => 'https' do %>
        <span class="fa fa-question-circle accent" aria-hidden="true"></span>
        <%= event.pendings.where(event_id: event.id).count %>
        <span class="post-option-text">気になる</span>
    <% end %>
  <% else %>
    <%= link_to event_pendings_path(event), method: :post, remote: true, :protocol => 'https' do %>
        <span class="fa fa-question-circle" aria-hidden="true"></span>
        <%= event.pendings.where(event_id: event.id).count %>
      <span class="post-option-text">気になる</span>
    <% end %>
	<% end %>
<% else %>
		<!--ログインしていない場合、「ログインするといいね機能が使えます」のメッセージを出す-->
		<a id="modal-open" class="button-link">
			<i class="fa fa-question-circle" aria-hidden="true"></i>
			<%= event.pendings.where(event_id: event.id).count %>
			<span class="post-option-text">気になる</span>
		</a>
<% end %>