<section class="main">
  <div class="page-info hard-shadows">
    <p>Myページ</p>
  </div>
  <div class="posts">
    <div class="post hard-shadows">
      <div class="profile-wrapper">
        <div class="profile-header">
          <div class="profile-image-box">
          <img src="<%= @user.image_url %>" class="profile-image">
          </div>
          <div class="profile-name">
            <span class="user-name"><%= @user.name %></span>
            <span class="user-nickname">@<%= @user.nickname %></span>
          </div>
          <div class="following-box">
            <% if @user.id == current_user.id %>
              <p><%= link_to "プロフィール編集", edit_user_path(@user), class: "btn following pink" %></p>
            <% end %>
          </div>
        </div>
        <div class="post-content typography">
          <p><span class="fas fa-file-alt icon"></span><%= @user.description %></p>
          <% if @user.url %>
            <p><span class="fas fa-link icon"></span><%= link_to @user.url, @user.url %></p>
          <% end %>  
        </div>

        <div class="profile-nav">
          <input id="posted-event-tab" type="radio" name="profile-nav-item" checked>
          <label class="profile-nav-item" for="posted-event-tab">
            <span class="profile-nav-label">ライブ登録数</span>
            <span class="profile-value"><%= Event.where(user_id: current_user.id).select(:id).count %></span>
          </label>
          <input id="following-geinin-tab" type="radio" name="profile-nav-item">
          <label class="profile-nav-item" for="following-geinin-tab">
            <span class="profile-nav-label">フォロー</span>
            <span class="profile-value"><%= Following.where(user_id: current_user.id).count %></span>
          </label>
          <li class="profile-nav-item">
            <%= link_to logout_path, :method => :delete,:class=>"profile-nav-btn" do %>
              <span class="profile-nav-label">ログアウト</span>
              <span class="profile-value fa fa-sign-out-alt"></span>
            <% end %>
          </li>
        </div>
          <div class="profile-nav-content">
            <div class="profile-nav-item-content" id="posted-event-tab-content">
              <% if @events.present? %>
                <%= render 'events/event_list', events: @events, user: @user %>
              <% else %>
                <%= render 'events/no_result' %>
              <% end %>
            </div>
          </div>
          <div class="profile-nav-content">
            <div class="profile-nav-item-content" id="following-geinin-tab-content">
              <% if @geinins.present? %>
                <%= render 'followings/following_list', geinins: @geinins, user: @user %>
              <% else %>
                <%= render 'geinins/no_result' %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>