<section class="main">
  <div class="page-info hard-shadows">
    <p>Myページ</p>
  </div>
  <div class="post hard-shadows">
    <div class="post-wrapper">
      <div class="post-content">
        <%= @user.nickname %>
        <%= @user.name %><br>

        <span class="fas fa-file-alt"></span><%= @user.description %><br>
        <span class="fas fa-link"></span><%= @user.url %>
        フォローしている芸人一覧
        ライブ登録数
      </div>
      <div class="following-box">
        <% if @user.id == current_user.id %>
          <p><%= link_to "プロフィール編集", edit_user_path(@user), class: "btn following" %></p>
        <% end %>
      </div>
    </div>
  </div>
  <%= render :partial => "events/event_list", locals: { events: @events, user: @user } %>
</section>