<section class="main">
  <div class="page-info hard-shadows">
    <p>Myページ</p>
  </div>
  <div class="post hard-shadows">
    <div class="post-wrapper">
      <div class="post-content typography">
        <p><%= @user.nickname %></p>
        <p><%= @user.name %></p>

        <p><span class="fas fa-file-alt"></span><%= @user.description %></p>
        <p><span class="fas fa-link"></span><%= @user.url %></p>
        フォローしている芸人一覧
        ライブ登録数
        <li>
          <%= link_to logout_path, :method => :delete do %>
            <i class="fa fa-sign-out-alt"></i> ログアウト
          <% end %>
        </li>
      </div>
      <div class="following-box">
        <% if @user.id == current_user.id %>
          <p><%= link_to "プロフィール編集", edit_user_path(@user), class: "btn following" %></p>
        <% end %>
      </div>
    </div>
  </div>
  <%= render :partial => "events/event_list", locals: { events: @events, user: @user } %>
</section>