    <div class="form-item">
      <div class="form-icon">
        <i class="fas fa-calendar-alt"></i>
      </div>
      <div class="form">
        <%= f.datetime_select :datetime, :placeholder =>"開演日時 *", :class=>"SearchCalendar event-edit-form form-long", data: {min_date: 'today'},:required=>"true" %>
      </div>
    </div>
    <div class="form-item">
      <div class="form-icon">
        <i class="fas fa-bookmark"></i>
      </div>
      <div class="form">
        <%= f.text_field :title,:placeholder => "ライブ名 *",:class => "event-edit-form form-long",:required=>"true" %>
      </div>
    </div>
    <div class="form-item">
      <div class="form-icon">
      </div>
      <div class="form">
        <%= f.collection_select :place, Place.all, :name, :name,{:prompt => "ライブ会場を選択してください *"},{:class=>"event-select-form"} %>
      </div>
    </div>
    <div class="form-item">
      <div class="form-icon">
        <i class="fas fa-map-marker-alt"></i>
      </div>
      <div class="form">
         <%= f.text_field :place_free_entry,:placeholder => "ライブ会場(上のメニューにない場合) *",:class => "event-edit-form form-long" %>
      </div>
    </div>
    <div class="form-item">
      <div class="form-icon">
        <i class="fas fa-link"></i>
      </div>
      <div class="form">
        <%= f.fields_for :event_links do |urls_form| %>
          <%= urls_form.text_field :url,:placeholder => "予約URL",:class => "event-edit-form form-long"  %>
        <% end %>
      </div>
    </div>
    <div class="form-item">
      <div class="form-icon">
        <i class="fas fa-users"></i>
      </div>
      <div class="form">
        <textarea placeholder="出演者（改行でタグになります）" class="event-edit-form textarea form-long" name="event[event_performers_attributes][0][performer]" id="event_event_performers_attributes_0_performer"><%= event_performers %></textarea>    
      </div>
    </div>
    <div class="more-info">
      <div class="">
        もっと詳しく
      </div>
    </div>
    <div class="form-item">
      <div class="form-icon">
        <i class="fas fa-file-alt"></i>
      </div>
      <div class="form">
        <%= f.text_area :description,:placeholder => "ライブの説明",:class => "event-edit-form textarea form-long" %>
      </div>
    </div>
    <!--<div class="form-item">
      <div class="form-icon">
        <i class="fas fa-tags"></i>
      </div>
      <div class="form">
        <textarea placeholder="タグ（例:単独ライブ、エントリー制）(改行でタグになります)" class="event-edit-form textarea form-long" name="event[event_categories_attributes][0][category]" id="event_event_categories_attributes_0_category"><%= event_categories %></textarea>    
      </div>
    </div>-->
    <div class="form-item">
      <div class="form-icon">
        <i class="fas fa-envelope"></i>
      </div>
      <div class="form">
        <%= f.text_field :email,:placeholder => "メールアドレス",:class => "event-edit-form form-long"  %>
      </div>
    </div>
    <div class="form-item">
      <div class="form-icon">
        <i class="fas fa-phone"></i>
      </div>
      <div class="form">
        <%= f.text_field :tel,:placeholder => "電話番号(ハイフンなし、例:0312345678)",:class => "event-edit-form form-long"  %>
      </div>
    </div>
    <div class="form-item">
      <div class="form-icon">
        <i class="fas fa-image"></i>
      </div>
      <div class="form">
        <%= f.attachment_field :image, :class=>"event-edit-form form-long" %>
      </div>
    </div>
    <div class="form-item">
      <div class="form-icon">
        <i class="fas fa-ticket-alt"></i>
      </div>
      <div class="form">
        <%= f.text_field :general_sale,:placeholder => "一般発売日時",:class => "event-edit-form form-long" %>
      </div>
    </div>
    <div class="form-item">
      <div class="form-icon">
        <i class="fas fa-clock"></i>
      </div>
      <div class="form">
        <%= f.text_field :presale_start,:placeholder => "先行販売開始日時",:class => "event-edit-form form-short" %>
        <span class="presale-period">〜</span>
        <%= f.text_field :presale_end,:placeholder => "終了日時",:class => "event-edit-form form-short-2" %>
      </div>
    </div>
    <%= f.submit '投稿する！', :class => "btn new green" %>